@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	font-family: 'Roboto Mono', sans-serif;
}

html {
	@apply dark:bg-[#121212];
}

html {
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll;
}

html::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}
