@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}
.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
}

.main {
    display: flex;
	align-items: center;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: inline-block
}